:root {
    --primary_colour: #067C5A;
    --accent_colour: #fae3ad;
}

body {
    display: grid;
    grid-template-rows: auto  1fr auto;
    grid-template-columns: 1fr .5fr;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
    height: 100vh;
    margin: 0;
    font-family: Questrial, sans-serif;
}

h1, h2, h3, a, footer {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, a {
    font-weight: 400;
}

header {
    grid-area: header;
    background-color: var(--primary_colour);
    color: white;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "h1"
    "nav";
}

header h1 {
    align-self: center;
    grid-area: h1;
    padding: 10px;
    font-size: 1.5rem;
}

header h1 span {
    color: var(--accent_colour);
}

nav {
    grid-area: nav;
    color: white;
    background-color: black;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    flex: 1 1 100%;
}

nav ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #FFF;
    text-align: center;
}


nav ul li a:hover {
    color: var(--primary_colour);

}

main {
    grid-area: main;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 10px;
    max-width: 1024px;
    justify-self: center;
}

.card {
    border: solid thin gainsboro;
    border-radius: 5px;
    display: grid;
}

h2 {
    background-color: var(--primary_colour);
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 1.2rem;
    height: min-content;
    padding: 5px;
}

h3 {
    padding: 10px;
    border-bottom: solid thin gainsboro;
    width: 80%;
    margin-left: 10px;
}

article {
    padding: 10px;
    display: grid;
}

.article_1 {
    grid-template-columns: 1fr .5fr;
}

.article_1 img {
    width: 110px;
    border-radius: 100px;
}

.article_2 {
    grid-template-columns: .5fr 1fr;
}

.article_2 img {
    width: 150px;
    border-radius: 5px;

}

.article_1 img, .article_2 figcaption, .article_1 p, .article_2 p {
    align-self: center;
    justify-self: center;
}

.article_2 figcaption {
    font-size: 11px;
    text-align: center;
}

.card ul {
    height: 100%;
    align-self: center;
}

footer {
    grid-area: footer;
    background-color: var(--primary_colour);
    color: white;
    text-align: center;
    padding: 10px;
}

#lastModified {
    color: var(--accent_colour);
}
